* {
  background: #f5f5f5;
  width: 883px;
  font-family: "Montserrat", sans-serif;
}
.img_principal {
  height: 497px;
  width: 883px;
}

ol > img {
  border-radius: 8px;
  box-shadow: 5px 8px 20px #999999;
  margin: 25px 0;
}
.img_inicio {
  border-radius: 8px;
  box-shadow: 5px 8px 20px #999999;
}
.titulo_principal {
  font-weight: 900;
  font-size: 89px;
  line-height: 79px;
  color: #ffb300;
}
.autor {
  color: #000;
  font-size: 21px;
  font-weight: bold;
  text-align: right;
}
.parrafo_principal {
  font-size: 21px;
  font-weight: 600;
  line-height: 1.61;
  color: #000;
}
hr {
  margin: 34px 0;
  border: 5px solid #999999;
}
p {
  font-size: 21px;
}
.titulo_secundario {
  font-size: 34px;
  font-weight: bold;
  color: #ffb300;
}
ul > li {
  font-size: 21px;
  font-weight: 600;
  line-height: 1.61;
}
ol > li {
  font-size: 21px;
  font-weight: 600;
  line-height: 1.61;
  margin-bottom: 21px;
}
h3 {
  font-size: 21px;
  color: #ffb300;
}
video {
  width: 883px;
  height: 497px;
}
.up {
  margin: 20px 0;
  font-size: 21px;
  font-weight: bold;
  color: #0037b3;
  transition: 0.3s;
  
}
.up:hover {
  color: #ffb300;
}
